<h1>Menu</h1>

<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <a href="/categories/<%= category.id %>/edit"><button>Edit</button></a>
  <p>Created at <%= category.created_at %></p>
<% end %>

<button><%= link_to 'Add a category', '/categories/new' %></button>